/* styles.css*/
html,
body {
	height: 100%;
    
}
img {
    max-width: 100%;
}
#cover {
    background: #222 url('img/stars1.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display:flex;
    align-items: center;
}
#cover-caption {
   margin: auto;
   

}

#container {
    width: 100%;
    display: flex;
    align-items: center;
}

.section-content {
    padding: 5rem 0;
}
.section-content h3 {
    margin-left: 20px;
}
.lead 
 {
    margin-left: 20px;
}

.btn-secondary {
  color: #ccc;
  background-color: transparent;
  border-color: #ccc;
    margin-right: 10%;
   
}
.btn-secondary:hover {
  color: #ccc;
  background-color:transparent;
  border-color: #adadad;
}
.img-fluid {
    height: 960px;
}

.form-inline {
    margin-left: 18%;
 
}
.card-img-top {
    height: 300px;
}

#about {
    background: url('img/creativ1.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}
.btn-secondary {
    color: white;
   margin: 10px;
}

h5 {
    margin-left: 15px;
}

#news h3 {
    margin-left: 20px;
    margin-top: 10px;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    
}
.list-group-item {
    background: #232323;
    border-color: #232323;
}